@page
@using ASPTest.ModelAPI
@using SoulControl.Environment
@using System.Text
@inject Microsoft.JSInterop.IJSRuntime JS

<style>
    body {
        background-color: black;
        color: #df8
    }

    .game-box {
        width: min-content;
        min-width: 300px;
        margin: 15px;
        font-size: 19px;
        color: rgb(189, 182, 151);
        background-color: rgba(255, 255, 255, 0.103);
        border: 3px solid rgba(255, 255, 255, 0.555);
        border-radius: 5px;
        padding: 4px;
    }

    .game-function:hover {
        width: 931px;
        transition: all 0.5s 0s;
        background-color: rgba(255, 255, 255, 0.555);
        border: 3px solid rgba(255, 255, 255, 0);
        color: #fff;
    }

    .game-tilebox {
        width: 931px;
        border-radius: 5px;
        margin: 15px;
        display: flex;
        flex-wrap: wrap;
        padding: 4px;
        background-color: #fff3;
    }

    .game-tile-undefined {
        width: 80px;
        height: 80px;
        margin: 2px;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 5px;
    }

    .game-tile {
        width: 80px;
        height: 80px;
        margin: 2px;
        box-sizing: border-box;
        border: 3px solid;
        border-radius: 5px;
        border-color: #00ffff;
        padding: 5px;
    }

    .game-entity {
        width: 90%;
        height: 90%;
        margin: auto;
        border-radius: 100px;
        border: 3px solid;
        border-color: black;
    }
    textarea {
        color: inherit;
        background-color: inherit;
        border: 3px solid green;
    }

    input {
        color: inherit;
        background-color: inherit;
        border: 3px solid green;
    }
</style>
<meta name="viewport" content="width=1920px, height=1080px" />

@functions {
    
}



<div style="display: flex; height: 100%" onload="onLoad()">
    <div style="width: 23%; height: 100%;">

        <div style="height: 65%; overflow: auto;" id="log"> @Html.Raw(ASPTest.razor.IndexModel._log) </div>


        <div style="height: 35%; overflow: auto;">
            <form name="code" method="post">
                <textarea name="req" cols="40" rows="5" style="width: 90%; height: 85%;">@ASPTest.razor.IndexModel._code</textarea>
                <input name="btn" type="submit" value="Run code"/>
            </form>
        </div>
    </div>



    <div style="width: 54%; height: 100%; overflow: scroll;" id="game"> @Html.Raw(ASPTest.razor.IndexModel._pl) </div>



    <div style="width: 23%; height: 100%; overflow: auto;" id="entity"> @Html.Raw(ASPTest.razor.IndexModel._ent) </div>
</div>


@model ASPTest.razor.IndexModel
@{
     
}








